# EmailJS Configuration
# Rename this file to .env.local and populate with your own keys from EmailJS.
# You can get these details by creating a free account at https://dashboard.emailjs.com/

VITE_EMAILJS_SERVICE_ID=service_fl0v6t2
VITE_EMAILJS_TEMPLATE_ID=your_template_id_here
VITE_EMAILJS_PUBLIC_KEY=your_public_key_here
